<header>
  <img src="../assets/logo.png">
  <div class="info-contato">
    <div class="descritivos">
      <span>
        <fa-icon [icon]="icons.faPuzzlePiece"></fa-icon>
        Atendimentos terapêuticos, contraturno e reforço escolar
      </span>


      <span>
        <fa-icon [icon]="icons.faBrain"></fa-icon>
        Neuro, Psicopedagogia, Fono e Psicologia
      </span>


      <span>
        <fa-icon [icon]="icons.faLocationDot"></fa-icon>
        Santo Aleixo e Guapimirim
      </span>
    </div>
    <div class="contato">
      <span>
        <img src="../assets/ig.png"/>
        <a href="https://www.instagram.com/_espaco_castro/" target="_blank">@_espaco_castro</a></span>
    </div>
  </div>

  </header>
<div class="separador"></div>

<article>
  <h1><fa-icon [icon]="icons.faHammer"></fa-icon>EM CONSTRUÇÃO ... </h1>
</article>
